/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    background-color: #1d3557;
    color: #fff;
}

h2 {
    margin-bottom: 20px;
}
/* HEADER */
#app header {
    width: 100%;
    height: 50px;
    background-color: #457b9d;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}
/* CONTAINER */
#app .container {
    text-align: center;
}

#app .container .catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#app .container .catalog li {
    flex-basis: calc(100% / 4) - 200px;
    background-color: #457b9d;
    margin-bottom: 10px;
}

#app ul {
    margin: 10px;
}

#app ul li {
    padding: 10px;
}

#app ul li .flag {
    width: 30px;
}

#app ul li ul li {
    padding-left: 10px;
}

#app ul li ul li .star {
    display: inline-flex;
}

