<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>vue-boolflix</title>
</head>
<body>
    <div id='app'>
        <!-- INPUT -->
        <input type="text" v-model='search' @keyup.enter='startSearch()'>
        <button @click='startSearch()'>Search</button>
        <!-- LIST OF MOVIES-->
        <h2>
            List of Movies
        </h2>
        <ul>
            <li v-for='movie in movies'>
                <ul>
                    <li>Titolo: {{ movie.title }}</li>
                    <li>Titolo originale: {{ movie.original_title }}</li>
                    <li>Lingua originale: {{ movie.original_language }}</li>
                    <li>Voto: <i class="fas fa-star" v-for='n in starVote(movie.vote_average)'></i>
                        <i class="far fa-star" v-for='n in 5 - starVote(movie.vote_average)'></i>
                    </li>                  
                </ul>
            </li>
        </ul>
        <!-- LIST OF TVS-->
        <h2>
            List of Tvs
        </h2>
        <ul>
            <li v-for='tv in tvs'>
                <ul>
                    <li>Titolo: {{ tv.name }}</li>
                    <li>Titolo originale: {{ tv.original_name }}</li>
                    <li>Lingua originale: {{ tv.original_language }}</li>
                    <li>Voto: <i class="fas fa-star" v-for='n in starVote(tv.vote_average)'></i>
                        <i class="far fa-star" v-for='n in 5 - starVote(tv.vote_average)'></i>
                    </li>                  
                </ul>
            </li>
        </ul>
    </div>
    <!-- AXIOS -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- JAVASCRIPT -->
    <script src="./js/main.js" charset="utf-8"></script>
</body>
</html>