<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>vue-boolflix</title>
</head>
<body>
    <div id='app'>
        <!-- HEADER -->
        <header>
            <img src="https://fontmeme.com/permalink/201126/e7146b2a2da1d54bf69112d8c4856712.png" alt="logo boolflix">
            <!-- INPUT -->
            <div>
                <input type="text" v-model='search' @keyup.enter='startSearch()' placeholder="Digita la tua ricerca...">
                <button @click='startSearch()'>Search</button>
            </div>
        </header>
        <!-- CONTAINER -->
        <div class="container">
            <!-- LIST OF MOVIES-->
            <h2 v-if="movies.length > 0">
                Movies
            </h2>
            <!-- CATALOG -->
            <ul class="catalog">
                <li v-for='movie in movies'>
                    <ul>
                        <!-- POSTER -->
                        <li class="poster"> 
                            <img v-if='movie.poster_path !== null' :src="'https://image.tmdb.org/t/p/w342' + movie.poster_path" :alt="movie.title">
                            <img v-else :src="altPoster" alt="No image available" class="altImg">
                        </li>
                        <!-- TITLE -->
                        <li class="title">{{ movie.title }}</li>
                        <!-- ORIGINALTITLE -->
                        <li class="originalTitle">{{ movie.original_title }}</li>
                        <!-- V-IF FOR FLAG LANGUAGE -->
                        <li v-if='movie.original_language === "it"'>
                            <img class='flag' src="./img/it.png" alt="bandiera italiana">
                        </li>
                        <li v-else-if='movie.original_language === "en"'>
                            <img class='flag' src="./img/en.png" alt="bandiera inglese">
                        </li>
                        <li v-else>{{ movie.original_language }}</li>
                        <!-- V-FOR STARS VOTE -->
                        <li><span class="star">
                            <i class="fas fa-star" v-for='n in starVote(movie.vote_average)'></i>
                            <i class="far fa-star" v-for='n in 5 - starVote(movie.vote_average)'></i>
                        </span>
                        </li>                  
                    </ul>
                </li>
            </ul>
            <!-- LIST OF TVS-->
            <h2 v-if="tvs.length > 0">
                Tv show
            </h2>
            <!-- CATALOG -->
            <ul class="catalog">
                <li v-for='tv in tvs'>
                    <ul>
                        <!-- POSTER -->
                        <li class="poster">
                            <img v-if='tv.poster_path !== null' :src="'https://image.tmdb.org/t/p/w342' + tv.poster_path" :alt="tv.name">
                            <img v-else :src="altPoster" alt="No image available" class="altImg">
                        </li>
                        <!-- TITLE -->
                        <li class="title">{{ tv.name }}</li>
                        <!-- ORIGINALTITLE -->
                        <li class="originalTitle">{{ tv.original_name }}</li>
                        <!-- V-IF FOR FLAG LANGUAGE -->
                        <li v-if='tv.original_language === "it"'>
                            <img class='flag' src="./img/it.png" alt="bandiera italiana">
                        </li>
                        <li v-else-if='tv.original_language === "en"'>
                            <img class='flag' src="./img/en.png" alt="bandiera inglese">
                        </li>
                        <li v-else>{{ tv.original_language }}</li>
                        <!-- V-FOR STARS VOTE -->
                        <li><span class="star">
                            <i class="fas fa-star" v-for='n in starVote(tv.vote_average)'></i>
                            <i class="far fa-star" v-for='n in 5 - starVote(tv.vote_average)'></i>
                        </span>
                        </li>                  
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- AXIOS -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- JAVASCRIPT -->
    <script src="./js/main.js" charset="utf-8"></script>
</body>
</html>