<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>vue-boolflix</title>
</head>
<body>
    <div id='app'>
        <!-- INPUT -->
        <input type="text" v-model='search' @keyup.enter='startSearch()'>
        <button @click='startSearch()'>Search</button>
        <!-- LIST OF MOVIES-->
        <h2>
            List of Movies
        </h2>
        <ul>
            <li v-for='movie in movies'>
                <ul>
                    <li>TITOLO: {{ movie.title }}</li>
                    <li>TITOLO ORIGINALE: {{ movie.original_title }}</li>
                    <li v-if='movie.original_language === "it"'>
                        LINGUA ORIGINALE: <img src="./img/it.png" alt="bandiera italiana">
                    </li>
                    <li v-else-if='movie.original_language === "en"'>
                        LINGUA ORIGINALE: <img src="./img/en.png" alt="bandiera inglese">
                    </li>
                    <li v-else>LINGUA ORIGINALE: {{ movie.original_language }}</li>
                    <li>VOTO: <span class="star">
                        <i class="fas fa-star" v-for='n in starVote(movie.vote_average)'></i>
                        <i class="far fa-star" v-for='n in 5 - starVote(movie.vote_average)'></i>
                    </span>
                    </li>                  
                </ul>
            </li>
        </ul>
        <!-- LIST OF TVS-->
        <h2>
            List of Tvs
        </h2>
        <ul>
            <li v-for='tv in tvs'>
                <ul>
                    <li>TITOLO: {{ tv.name }}</li>
                    <li>TITOLO ORIGINALE: {{ tv.original_name }}</li>
                    <li v-if='tv.original_language === "it"'>
                        LINGUA ORIGINALE: <img src="./img/it.png" alt="bandiera italiana">
                    </li>
                    <li v-else-if='tv.original_language === "en"'>
                        LINGUA ORIGINALE: <img src="./img/en.png" alt="bandiera inglese">
                    </li>
                    <li v-else>LINGUA ORIGINALE: {{ tv.original_language }}</li>
                    <li>VOTO: <span class="star">
                        <i class="fas fa-star" v-for='n in starVote(tv.vote_average)'></i>
                        <i class="far fa-star" v-for='n in 5 - starVote(tv.vote_average)'></i>
                    </span>
                    </li>                  
                </ul>
            </li>
        </ul>
    </div>
    <!-- AXIOS -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- JAVASCRIPT -->
    <script src="./js/main.js" charset="utf-8"></script>
</body>
</html>